# Assignment - Linear Regression

In this assignment, you will use Linear Regression to predict the result of students in a final essay paper, based on their score in previous papers.

The dataset is synthetic, but it represents what could be a real scenario.

In [1]:
import pandas as pd

In [5]:
df=pd.read_csv("Student_Performance_Data.txt",sep="|")
df.head(20)

     Student_ID Semster_Name     Paper_ID Paper_Name  Marks
0   SID20131143        Sem_1  SEMI0012995    Paper 1     44
1   SID20131143        Sem_1  SEMI0015183    Paper 2     74
2   SID20131143        Sem_1  SEMI0018371    Paper 3     80
3   SID20131143        Sem_1  SEMI0015910    Paper 4     44
4   SID20131143        Sem_1  SEMI0016208    Paper 5     95
5   SID20131143        Sem_1  SEMI0017431    Paper 6     61
6   SID20131143        Sem_1  SEMI0014130    Paper 7     90
7   SID20131143        Sem_2  SEMI0024747    Paper 1     92
8   SID20131143        Sem_2  SEMI0025909    Paper 2     57
9   SID20131143        Sem_2  SEMI0022443    Paper 3     91
10  SID20131143        Sem_2  SEMI0025077    Paper 4     84
11  SID20131143        Sem_2  SEMI0029604    Paper 5     80
12  SID20131143        Sem_2  SEMI0029061    Paper 6     66
13  SID20131143        Sem_2  SEMI0022256    Paper 7     54
14  SID20131143        Sem_3  SEMI0037924    Paper 1     76
15  SID20131143        Sem_3  SEMI0034580    Paper 2     83
16  SID20131143        Sem_3  SEMI0033576    Paper 3     41
17  SID20131143        Sem_3  SEMI0031818    Paper 4     80
18  SID20131143        Sem_3  SEMI0039951    Paper 5     69
19  SID20131143        Sem_3  SEMI0039037    Paper 6     73

The data has the following columns:
* Student_ID: Identification of the student
* Semster_ID:  Identification of the semester
* Paper_ID:  Identification of the paper (do not use)
* Paper_Name:  Name of the paper, could be used as the ID of the paper
* Marks: Grade of the student in that paper (0-100)

You need to infer the grade in "Paper 7" based on the grades of papers 1 to 6.  Use a Linear Regression Model

NOTE:  You should group the data by student and semester.  Then you have to change the shape of the dataset so:
* Each row is a student-semester combination
* Each column is the grade in a Paper number:  Paper1 Paper2 Paper3 Paper4 Paper5 Paper6
* This shape can be had using the equivalent of Cast and Melt in R

## Deliverable:
You should create a Python-Dash dashboard where you set the value of the first 6 papers and it will return the grade of the seventh paper.  Publish the URL of the dashboard in NYU Classes.

## Extra Credit:
* Use something different that Linear Regression (2 points)
* Create some time of visualization to represent the prediction (2 points)
* Create a model that could handle missing values in some of the papers (5 points)